# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(utils,stats)
importFrom("graphics", "abline", "axis", "hist", "lines", "par",
             "points", "text", "title")
